:root {
  --geel: #fff021;
  --pepermunt: #e0f5df;
  --papaya: #faf0d7;
  --lavendel: #f0ebf0;
  --black: #000000;
  --white: #ffffff;
}

body {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p {
  max-width: 65ch;
}
